body{
background-color: aquamarine;
overflow: hidden;
 background-image: url(about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 50px;
}
footer{
    position: fixed;
    bottom: 0;
    background: black;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}
.languages {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}
.objective {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
#About {
    text-align: center;
}
